<h2>Sign up</h2>
<div class="row">
  <div class="col-sm-12">
    <%= form_for(resource, :as => resource_name, html: {class: "form-group", role: "form"}, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>


        <div class="name-field"><%= f.label :first_name %><br />
          <%= f.text_field :first_name, :placeholder =>"First Name"%>
        </div>

        <div><%= f.label :last_name %><br />
          <%= f.text_field :last_name, :pattern =>"alpha"%><small class="error">Name is required and must be a string.</small></div>

        <div><%= f.label :phone %><br />
          <%= f.text_field :phone, :pattern => "integer"%><small class="error">Not a valid phone number</small></div>

        <div><%= f.label :email %><br />
          <%= f.email_field :email %><small class="error">email is required and must look like adam@riorunner.com.</small></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password %><small class="error">Password must contain at least 8 characters and an Uppercase Letter</small></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation %></div>
        <div><%= f.submit "Sign up", class: "button radius" %></div>

    <% end %>

  </div>
</div>
