<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: "round alert label" %>
<% end -%>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Create Task</h2>
    <%= form_for(@task) do |f| %>
        <div class="row">
          <div class = "col-xs-6">
            <%= f.label :subject, class: "control-label" %>
            <%= f.text_field :subject, :placeholder =>"Subject", :autofocus => true, class: "form-control pull-left"%>
          </div>

          <div class = "col-xs-6">
            <%= f.label :description, class: "control-label" %>
            <%= f.text_field :description, :placeholder =>"Description", class: "form-control pull-right"%>
          </div>
        </div>
        <div class = "row">
          <div class = "col-sm-3">
            <%= f.label :zipcode, class: "control-label" %>
            <%= f.text_field :zipcode, class: "form-control pull-left",:placeholder =>"Zipcode"%>
          </div>
          <div class = "col-sm-6">
            <%= f.label :deliverables, class: "control-label" %>
            <%= f.text_field :deliverables, class: "form-control pull-right", :placeholder =>"Deliverables"%>
          </div>
        </div>
        <div class="row">
          <div class = "col-xs-6">
            <%= f.label :tags, class: "control-label" %>
            <%= f.text_field :tag_list, :placeholder =>"Tags", class: "form-control pull-left tokenize"%>
          </div>
        </div>
        <div class = "row">
          <div class = "col-sm-6 col-sm-offset-6">
            <br/>
            <%= f.submit "Sign up", class: "btn btn-primary pull-right" %>
          </div>
        </div>
    <% end %>
    <h3>PS... This form definitely needs some sprucing up...</h3>
  </div>
