<% provide(:title, @task.description) %>
<% if @task.status == "in progress" %>
    <% if @task.notes.where(:status => 'unread').present? %>
        <span class="badge bg-important"><%= @task.notes.where(:status => 'unread').count %></span>
    <% end %>
    <%= link_to task_notes_path(@task) do %>
        <i class="fa fa-comment fa-3x">&nbsp;</i>&nbsp;
    <% end %>
<% end %>

<div class = "container">
  <div class = "row">
    <div class = "col-xs-12">
      <% if current_user.id == @task.wallet_id%>
          <% if @task.status == "pending payment" %>
              <div class = "alert alert-info">Your runner is awaiting your payment information, please provide <%= link_to "payment information", addpaymentinfo_path, :class => "back-btn"  %></div>
          <% end %>
      <% end %>
      <h2>Views: <%= @task.viewcalc %></h2>
      <table class = "table table-condensed">
        <thead>
        <tr>
          <th>Status</th>
          <th>Subject</th>
          <th>Description</th>
          <th>Zip Code</th>
          <th>Deliverables</th>
          <% if @task.status != 'open' %>
              <td>Review</td>
              <td>Rating</td>
          <% end %>
          <% if @task.task_type == 'auto' %>
              <th>Task Type: Auto</th>
              <th>Price</th>
          <% end %>
          <% if current_user.id == @task.wallet_id %>
              <td></td>
              <td></td>
          <% else %>
              <td>Belongs to:</td>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <tr data-link = "<%=task_path(@task.id)%>" class ="row_hover">
          <td class = "text-center"><%= @task.status %></td>
          <td><%= @task.subject %></td>
          <td><%= @task.description %></td>
          <td><%= @task.zipcode %></td>
          <td><%= @task.deliverables %></td>
          <% if @task.status != 'open' %>
              <% if @task.final_rating.nil? %>
                  <td><a href = "#" data-toggle ="modal" data-target = "#review" class = "back-btn-opaque">Leave a Review</a></td>
              <% else %>
                  <td><%=@task.final_review%></td>
              <% end %>
              <td>
                <ul class = "rating">
                  <% (1..5).each do |i|%>
                      <li class = "rating_star " data-stars = "<%=i%>" data-task-id = "<%= @task.id%>" id = "<%="#{@task.id}_#{i}" %>" ></li>
                  <% end %>
                </ul>
              </td>
          <% end %>
          <% if @task.task_type == 'auto' %>
              <% if @task.rating_required < @task.average_rating(current_user) && @task.no_ratings_required < current_user.reviews.count%>
                  <td>This task requires a rating of  <%= @task.rating_required %> with at least <%= @task.no_ratings_required %> reviews.</td>

              <% else %>
                  <td>Sorry, you can't complete this task! <%=@task.rating_required %> is required and you have <%= @task.average_rating(current_user) %></td>
                  <td class = "price">$<%=number_with_precision(@task.price * 0.85, :precision => 2) %></td>
              <% end %>d
          <% end %>
          <% if current_user.id == @task.wallet_id %>
              <td class = "text-center"><%= link_to @task, :method => :delete, :data => {:confirm => "Are you sure?"} do %>
                    <i class="fa fa-trash-o fa-fw">&nbsp;</i>
                <% end %></td>
              <td><%= link_to 'Edit Task', edit_task_path(@task)%></td>
          <% else %>
              <td><%= link_to User.find(@task.wallet_id).first_name, user_path(@task.wallet_id) %>&nbsp;&nbsp;<a href = "#" data-toggle ="modal" data-target = "#messaging"><i class="fa fa-pencil-square-o fa-fw"></i></a></td>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class ="row">
  <div class = "col-sm-6">
    <%= image_tag("map.png", :class => "img-responsive img-thumbnail pull-left") %>
  </div>
  <div class = "col-xs-4 col-xs-offset-2">
    <% if @task.tags.any? %>
        Tags:
        <br />
        <br />
        <%= raw @task.tag_list.map{ |t| link_to t, tag_path(t), class: "tag"}.join(' ')%>
    <% end %>
    <br />
    <br />
    <% if current_user.id != @task.wallet_id %>
        <% if @task.task_type == "auto" %>
            <a href = "#" data-toggle ="modal" data-target = "#taskacceptance" class = "back-btn-opaque">This Task Is For Me</a>
        <% elsif @task.task_type == "bid" %>
            <a href = "#" data-toggle ="modal" data-target = "#messageinquiry" class = "back-btn-opaque">Bid on this task</a>
        <% end %>

    <% end %>
  </div>

</div>
<!-- Modals -->
<%= render 'message_modal' %>
<%= render 'task_inquiry_modal' %>
<%= render 'task_acceptance_modal' %>
<%= render 'review_modal' %>

<!-- Modals -->

