
<table class ="table table-hover">
  <thead>
  <tr>
    <th>Status</th>
    <th>Subject</th>
    <th>Description</th>
    <th>Zip Code</th>
    <th>Deliverables</th>
  </tr>
  </thead>
  <tbody>
  <% Task.where(:status => 'open').take(5).each do |task| %>
      <tr data-link = "<%=task_path(task.id)%>" class ="row_hover">
        <td class = "text-center"><span class ="glyphicon glyphicon-credit-card" rel ="tooltip" title ="tooltip!!"></span></td><!--This has a tooltip-->
        <td><%= task.subject %></td>
        <td><%= task.description %></td>
        <td><%= task.zipcode %></td>
        <td><%= task.deliverables %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class = "pull-right">
  <% if Task.count > 5 %>
      <%= link_to 'List all Tasks' , tasks_path%>
  <% end %>
</div>