<h1>Hello! This is where you are posting a task! Shall we put this on a separate page or on the "Home Page" Once you log in?</h1>
<%= form_for @task do |f| %>

    <%= f.label :task_id, "Task ID" %>
    <%= f.text_field :task_id %>

    <%= f.label :user_id, "User ID" %>
    <%= f.text_field :user_id %>

    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>

    <%= f.label :email, "email" %>
    <%= f.text_field :email %>

    <%= f.label :deliverables, "deliverables" %>
    <%= f.text_field :deliverables %>

    <%= f.label :zipcode, "Confirm Password" %>
    <%= f.text_field :zipcode %>

    <%= f.submit "Start Running", class: "btn btn-large btn-primary" %>

<% end %>