<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Rio Runner", root_path, class: "navbar-brand",  id: "logo" %>
        <ul class="nav nav-tabs pull-right">
          <% if user_signed_in? %>
          <li class ="dropdown"><%= link_to current_user.first_name, riorunner_path%></li> <!--dropdown javascript bootstrap plugin, when we get there-->
          <%end%>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if user_signed_in? %>
              <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
              <li><%= link_to('Login', new_user_session_path)%> </li>
          <% end %>
          <% if user_signed_in? %>
              <li>
                <%= link_to('My Account', edit_user_registration_path) %>
              </li>
          <% else %>
              <li>
                <%= link_to('Register', new_user_registration_path)  %>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>