<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= @title %></title>
  <title><%= "Welcome to Rio Runner" %></title>
  <%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= render 'layouts/stylesheets' %>
</head>

<body>
<div class="container-fluid">
  <%= render 'layouts/header' %>
  <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
  <%= debug (params) if Rails.env.development? %>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
